.photo-manager-container {
  margin-top: 100px;
  text-align: center;
  background-color: rgb(235, 250, 255);
  padding-top: 10px;
  padding-bottom: 30px;
  height: 100%;
}

.photos-available-wrapper {
  border: 1px solid black;
  padding: 10px 5px;
}

.pet-gallery-img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  // border: 3px solid white;
}

.sub-heading-photo-manager {
  text-align: center;
}

.photo-manager-wrapper {
  width: 96%;
  margin: 0 auto;
}

.photo-manager-add-btn {
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgb(126, 251, 255);
  padding: 5px 20px;
  color: black;
  border: 0.5px solid rgb(95, 192, 236);
  box-shadow: 0px 7px 50px rgb(11, 159, 185);
}

.photo-manager-delete-btn {
  margin-top: 10px;
  border-radius: 5px;
  background-color: rgb(241, 40, 40);
  padding: 5px 20px;
  color: rgb(255, 255, 255);
  border: 0.5px solid rgb(236, 95, 95);
  box-shadow: 0px 7px 50px rgb(185, 11, 11);
}

.chosen-images-wrapper {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

.btn-submit-gallery {
  grid-column: 1 / 7;
  background-color: rgb(200, 241, 166);
  border-radius: 7px;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.2s;

  &:hover {
    filter: brightness(1.5);
  }
}

.available-photos-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

div:empty:not(.toggle-button__line):not(.toggle-button__line__line):not(.spacer):not(.backdrop) {
  display: none;
}

.hr-photo-manager {
  background-color: #fff;
}

.image-photo-caption-wrapper {
  background-color: rgb(24, 23, 23);
  padding: 5px;
}

.pet-name-photo-manager {
  color: white;
}

.no-images-title {
  text-align: center;
  width: 100%;
  color: white;
}

@media only screen and (min-device-width: 1200px) and (max-device-width: 1499px) {
  .pet-gallery-img {
    width: 100%;
    height: 200px;
  }
}

@media only screen and (min-device-width: 990px) and (max-device-width: 1199px) {
  .pet-gallery-img {
    width: 100%;
    height: 170px;
  }
}

@media only screen and (min-device-width: 760px) and (max-device-width: 989px) {
  .photo-manager-container {
    margin-top: 60px;
    height: 100%;
  }

  .pet-gallery-img {
    width: 100%;
    height: 400px;
  }
}

@media only screen and (min-device-width: 560px) and (max-device-width: 759px) {
  .photo-manager-container {
    margin-top: 60px;
    height: 100%;
  }

  .pet-gallery-img {
    width: 100%;
    height: 300px;
  }
}

@media only screen and (min-device-width: 300px) and (max-device-width: 559px) {
  .photo-manager-container {
    margin-top: 60px;
    height: 100%;
  }

  .pet-gallery-img {
    width: 100%;
    height: 170px;
  }
}
