.client-registration-content__cambridge {
  margin-top: 30px;
  padding: 20px;
  background-color: rgba(101, 206, 255, 0.945);
  height: 100vh;
}

//The rest of styling is shared inside CustomerAddPage/style.scss
